.strength-display {
  margin-top: 2rem;
  background-color: #18171f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.25rem;
}

.strength-display__title,
.strength-display__tag {
  color: #817d92;
  text-transform: uppercase;
}

.strength-display__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.strength-display__tag {
  color: #e6e5ea;
  font-size: 1.1rem;
  height: 31px;
}

.strength-display__items {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.strength-display__item {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

.filling-items {
  position: absolute;
  display: flex;
  gap: 0.5rem;
}

.filling-item {
  width: 10px;
  height: 28px;
}

@media (min-width: 375px) {
  .strength-display {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .strength-display {
    padding: 1.5rem 2rem;
  }

  .strength-display__title {
    font-size: 1.1rem;
  }

  .strength-display__tag {
    font-size: 1.5rem;
  }
}
