.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24232c;
  padding: 1rem 0.5rem;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.password-display {
  background-color: #24232c;
  border: 0;
  outline: none;
  width: 75%;
  font-size: 1rem;
  color: #e6e5ea;
}

.is-copied-tag {
  width: 44px;
  color: #a4ffaf;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}

@media (min-width: 375px) {
  .form-control {
    padding: 1rem;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .form-control {
    height: 70px;
  }

  .password-display {
    font-size: 2rem;
    width: 77%;
  }

  .is-copied-tag {
    font-size: 1rem;
  }
}
