label {
  font-size: 1rem;
  color: #e6e5ea;
  position: relative;
}

label:hover {
  cursor: pointer;
}

label:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 1.25rem;
  margin-left: 0;
  pointer-events: inherit;
}
.checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #24232c;
  top: 3px;
  left: 0;
  border: 2px solid #e6e5ea;
  cursor: pointer;
}

input:checked ~ .checkbox {
  border: none;
  background-color: #a4ffaf;
}

input:checked ~ .checkbox::before {
  content: "";
  display: block;
  -moz-width: 3px;
  width: 4px;
  height: 7px;
  background-color: #18171f;
  position: relative;
  top: 9px;
  left: 6px;
  transform: rotate(140deg);
}

input:checked ~ .checkbox::after {
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  background-color: #18171f;
  position: absolute;
  top: 4px;
  left: 10px;
  transform: rotate(219deg);
}

@media (min-width: 768px) {
  label {
    font-size: 1.1rem;
  }
}
