.slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.slider-control__title {
  font-size: 1rem;
  color: #e6e5ea;
}

.slider-control__display {
  font-size: 1.5rem;
  color: #a4ffaf;
}

input[type="range"] {
  --thumb-height: 28px;
  --track-height: 8px;
  margin: 0;
  width: 100%;
  appearance: none;
  background-color: #18171f;
  height: var(--track-height);
}

.slider-container {
  position: relative;
  margin-bottom: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  margin-top: -10px;
  appearance: none;
  height: var(--thumb-height);
  width: 28px;
  background-color: #e6e5ea;
  border-radius: 50%;
  z-index: 10;
}

input[type="range"]::-moz-range-thumb {
  position: relative;
  height: var(--thumb-height);
  width: 28px;
  background-color: #e6e5ea;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #18171f;
  border: 2px solid #a4ffaf;
  cursor: grab;
}

input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active {
  background-color: #18171f;
  border: 2px solid #a4ffaf;
  cursor: grab;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
}

.slider-container__progress {
  height: 8px;
  margin-top: 8px;
  background-color: #a4ffaf;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .slider-control__title {
    font-size: 1.1rem;
  }
  .slider-control__display {
    font-size: 2rem;
  }
}
