@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000;
}

main {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

@media (min-width: 1024px) and (max-height: 800px) {
  main {
    padding: 0.25rem;
  }
}
