.icon {
  fill: #fff;
  height: 20px;
  width: 17.5px;
}

.icon[disabled],
.icon[disabled] path {
  pointer-events: none;
}

.icon--active {
  fill: #a4ffaf;
}

.icon:hover:not([disabled]) {
  cursor: pointer;
  fill: #a4ffaf;
}

@media (min-width: 768px) {
  .icon {
    height: 24px;
    width: 21px;
  }
}
